{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "trailingComma": "none",
  "bracketSameLine": true,
  "arrowParens": "always",
  "singleAttributePerLine": true
}
